sudo: required
dist: xenial
language: python
python:
  - 3.4
  - 3.5
  - 3.6
  - 3.7
install: pip install tox-travis
script: tox

deploy:
  provider: pypi
  user: wickerwaka
  password:
    secure: RCvfo1ivWCCUmYcIT8gYUDhkE/+pLFaCG+Wa4AVJkZM+X8PxSHtUca7hw9m4R8+WHj+XIOYgqA0AkpmeXNt7Xv16abgAnXgLgIoA2+XIvfUz3w5wYiXmEJ9kJYlTGGtVFs/Ta5ymfvlIUoxTC4KaDX/y6m2pIP9p5UktYyzGv4uyOzfos73KQuPGrum/6lYtntZV7gR6WHHWTfkgPJNiA0CPb/roPbiU+r11I1/F4rNL5NFVdHs8emhCPxdpg129WuKGStjYpI1Jae650KoDJypXIo2bggZ2R94b2RPtzE93GGcrkwbdN1MadZEHh9u8Q0Y08jOf92AoD0CNmpTuUj0Yj9sV219foR+qriknxZYCcUnnah7WRLe+ubJd6rx9GvoNuFCu8n7fzlqLq4NdLzNZ/SUQ+LFlA9a9tP5U23tAJYGApfpi5jVggYnR8YN98cI3ZBP9jJzm1i0qSK1OHILtMli8nLDbV9goUBT+fnHM5v463PeTOmLVz+yYiFWFe9y0Cor8juny3RBxlt1NEdfToUG7sSwQ65owLK9yx7z/m13k4FeCyUrWanmKGvMXTUBD7t0L0M0CvRjvu3Tk5qa6RIBgiUE/E//k1loO7LoRumBJlWSyYNtQS4d9/ufw+GI3jQL03/X5axCMxCkYOIBPN8Lkg1XympILzSJoIYo=
  on:
    tags: true
    branch: master
    python: '3.6'

